<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <style>
        body {
            margin: 0;
            height: 100vh;
            width: 100vw;
        }
        #map {
            width: 100vw;
            height: 100vh;
            font-family: 'sans-serif', 'Droid Sans', 'arial', 'serif' !important;
        }
    </style>

    <script src="map.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxayE0azS7XIrmDFel9dxnFycNlXehIBg&callback=initMap"
            async defer>
    </script>

</head>
<body>

<div id="map"></div>

</body>
</html>